!!! 5
%html{:lang => "en"}

    %head

        %meta{:charset => "utf-8"}

        %title
            Starburst.css - A mixin for doing it the easy way

        %meta{:name => "description", :content => "Everyone said it couldn't be done. I'm glad to prove them wrong. Creating starbursts in CSS will no longer be a problem."}
        %meta{:name => "keywords", :content => "css, starburst, scss, sass, mixin"}
        %meta{:name => "author", :content => "Mattias Hagberg"}
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
        %meta{:name => "HandheldFriendly", :content => "True"}
        %meta{:name => "MobileOptimized", :content => "320"}
        %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
        %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "maroon"}

        %link{:rel => "shortcut icon", :href => "favicon.ico"}
        %link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css"}
        %link{:rel => "stylesheet", :href => "css/main.css"}
        %link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism-twilight.min.css"}

    %body

        %section.maroon
            %h1
                Starbursts in CSS?!
            %h3
                A mixin for doing it the easy way

        %section
            %article
                %h2
                    %code.language-css .rectangular{}
                %pre
                    %code.language-scss
                        = preserve do
                            :escaped
                                .burst_rect_1 {
                                    @include starburst(top,12,chocolate,darkorange,1);
                                    height: 200px; width: 200px;
                                }
                %div.burst_rect_1

            %article
                %pre
                    %code.language-scss
                        = preserve do
                            :escaped
                                .burst_rect_2 {
                                    @include starburst(both,11,darkorange,chocolate,1);
                                    height: 200px; width: 200px;
                                }
                %div.burst_rect_2

            %article
                %pre
                    %code.language-scss
                        = preserve do
                            :escaped
                                .burst_rect_3 {
                                    @include starburst(bottom,12,darkorange,chocolate,1);
                                    height: 200px; width: 200px;
                                }
                %div.burst_rect_3

            %article
                %h2
                    %code.language-scss .circular{}
                %pre
                    %code.language-scss
                        = preserve do
                            :escaped
                                .burst_circ_5 {
                                    @include starburst(top,12,chocolate,darkorange,1,1);
                                    height: 200px; width: 200px;
                                }
                %div.burst_circ_5

            %article
                %pre
                    %code.language-scss
                        = preserve do
                            :escaped
                                .burst_circ_6 {
                                    @include starburst(both,11,darkorange,chocolate,1,1);
                                    height: 200px; width: 200px;
                                }
                %div.burst_circ_6

            %article
                %pre
                    %code.language-scss
                        = preserve do
                            :escaped
                                .burst_circ_7 {
                                    @include starburst(bottom,12,darkorange,chocolate,1,1);
                                    height: 200px; width: 200px;
                                }
                %div.burst_circ_7

            %article.notice
                %pre
                    %code.language-scss
                        = preserve do
                            :escaped
                                //                                                    \  :  /
                                // …psst! As you may have noticed, Starburst       `. __/ \__ .´
                                // works on the <body> element as well. Any        _ _\     /_ _
                                // and all elements which can have backgrounds        /_   _\
                                // will do just fine!                               .´  \ /  `.
                                //                                                    /  :  \

            %article
                %h2
                    %code.language-scss .transforms, .transitions {}
                %pre
                    %code.language-scss
                        = preserve do
                            :escaped
                                .burst_rect_4.skew {
                                    @include starburst(both, 6, chocolate, darkorange, 1, 0);
                                    @include transform(skew(20deg));
                                    height: 200px; width: 200px;
                                }
                %div.burst_rect_4.skew

            %article
                %pre
                    %code.language-scss
                        = preserve do
                            :escaped
                                .burst_circ_8.egg {
                                    @include starburst(both, 9, darkorange, chocolate, 1, 1);
                                    width: 126px;
                                    height: 180px;
                                    @include border-radius(50% 50% 50% 50% / 60% 60% 40% 40%);

                                    &:hover {
                                        @include transition(1s all);
                                        @include border-radius(10%);
                                    }
                                }
                %div.burst_circ_8.egg

            %article
                %h2
                    %code.language-scss .animations{ /* yeah! */ }
                %pre
                    %code.language-scss
                        = preserve do
                            :escaped
                                .burst_circ_8.egg {
                                    @include starburst(both, 9, darkorange, chocolate, 1, 1);
                                    width: 126px;
                                    height: 180px;
                                    @include border-radius(50% 50% 50% 50% / 60% 60% 40% 40%);
                                    @include animation(egg 2s infinite ease-in-out alternate-reverse);
                                }
                %div.burst_circ_8.egg.animate

            %article.maroon
                %h2
                    Entire sections
                %pre
                    %code.language-scss
                        = preserve do
                            :escaped
                                section {
                                    @include starburst(bottom,9,darkred,maroon,-1);
                                    height: 50vh; width: 100%;
                                }
                %h2
                    Neat, huh?
                %p
                    The only occasion when you shouldn't use Starburst is when you need to use the
                    %code.language-scss :before
                    and
                    %code.language-scss :after
                    pseudo-elements for something else. Starburst needs these to work properly.

        %footer.maroon
            %h1
                %a{:href => '//github.com/pestbarn/starburst.css'}>Available at Github
            %h3
                Released under the
                %a{:href => '//github.com/pestbarn/starburst.css/blob/master/LICENSE'}MIT License
                by Mattias Hagberg, 2016

        :javascript
            var _gaq=[['_setAccount','UA-33644854-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));

        %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js"}
        %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-scss.min.js"}
